* {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

#page-heading {
    display: flex;
    justify-content: center;
}

h1.page-title {
    font-size: 65px;
    color: rgb(36, 28, 56);
}

#list-container {
}

ol.recipes {
    text-align: center;
    list-style: inside;
}

a {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:link, a:visited {
    color: rgb(36, 28, 56);
}

a:hover, a:active {
    color: rgb(177, 161, 219);
}